
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
{% if bio.surname %}{{ bio.surname }}{% endif %} {% if bio.first_name %} {{ bio.first_name }}{% endif %}{% if bio.other_name %}{{ bio.other_name }}
{% endif %}
{% endblock head %}

{% block breadcrumb %}

    <li class="breadcrumb-item"><a href="#">Home</a></li>

    <li class="breadcrumb-item"><a href="{% url 'church:manage_members' %}">Members</a></li>
    <li class="breadcrumb-item active">{% if bio.surname %}{{ bio.surname }}{% endif %} {% if bio.first_name %} {{ bio.first_name }}{% endif %}{% if bio.other_name %}{{ bio.other_name }}
        {% endif %}</li>
{% endblock breadcrumb %}

{% block content %}
<div class="content ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-12">

                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle" src=" {{bio.profile_picture.url}}"
                                alt="User profile picture">
                        </div>

                        <h3 class="profile-username text-center">{% if bio.surname %}{{ bio.surname }}{% endif %} {% if bio.first_name %} {{ bio.first_name }}{% endif %}{% if bio.other_name %}{{ bio.other_name }}
                            {% endif %}</h3>
                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>Date Of Birth</b> <a class="float-right">{{bio.dob}}</a>
                            </li>
                            <li class="list-group-item">
                                <b>Gender</b> <a class="float-right">{{bio.gender}}</a>
                            </li>
                            <li class="list-group-item">
                                <b>Marital Status</b> <a class="float-right">{{bio.marital_status}}</a>
                            </li>


                        </ul>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

                <!-- About Me Box -->
                <div class="card card-primary card-outline">

                    <!-- /.card-header -->
                    <div class="card-body">

                        <strong><i class="fas fa-map-marker-alt mr-1"></i> Location & Address</strong>

                        <p class="text-muted">{{bio.address}}</p>

                        <hr>
                        <strong><i class="fas fa-phone mr-1"></i>Active Phone Number</strong>

                        <p class="text-muted">{{bio.contact}}</p>

                        <hr>
                        <strong><i class="fa fa-language mr-1"></i>Email</strong>

                        <p class="text-muted">{{bio.email}}</p>

                        <hr>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>

            <div class="col-md-9 col-sm-12 novalidate">

                <div class="row">
                            <div class="col-lg">
                                <div class="card card-primary card-outline">
                                    <div class="card-header">
                                        <h3 class="card-title">Baptism Information</h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <!-- form start -->
                                    <form role="form" method="POST" enctype="multipart/form-data" novalidate>
                                        {% csrf_token %}
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="form-group col-12 col-sm-12 col-md-6">
                                                    {{ form.where|as_crispy_field }}
                                                </div>
                                                <div class="form-group col-12 col-sm-12 col-md-6">
                                                    {{ form.date_of_baptism|as_crispy_field }}
                                                </div>

                                            </div>




                                            <div class="row">
                                                <div class="form-group col">
                                                    <button type="submit" class="btn btn-md btn-outline-primary">Submit</button>
                                                </div>
                                                <div class="form-group col ">
                                                </div>
                                                <div class="form-group col ">
                                                </div>
                                                <div class="form-group col ">
                                                </div>
                                                <div class="form-group col ">
                                                </div>
                                                <div class="form-group col ">
                                                </div>
                                                <div class="form-group col ">
                                                </div>
                                                <div class="form-group col ">
                                                </div>
                                                <div class="form-group col ">
                                                </div>
                                                <div class="form-group col float-left">
                                                    <a class="btn btn-md btn-outline-info"href="{% url 'church:update_member' bio.id %}"><i class="fas fa-arrow-left"></i></a>

                                                </div>
                                                <div class="form-group col float-left">

                                                    <a class="btn btn-md btn-outline-warning"href="{% url 'church:emmergency_contact' bio.id %}"><i class="fas fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>


                                    </form>

                                    <br>

                                    {% if baptism %}
                                    <div class="m-4">
                                        <div id="example3_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <table id="example3" class="table  table-striped table-hover" role="grid"
                                                        aria-describedby="example2_info">
                                                        <thead class="">
                                                            <tr role="row">

                                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                                                    aria-label="Browser: activate to sort column ascending">Where</th>

                                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                                                    aria-label="Browser: activate to sort column ascending">Date of Baptism</th>

                                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                                                    aria-label="CSS grade: activate to sort column ascending">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for a in baptism %}
                                                            </tr>
                                                            <tr role="row" class="odd">

                                                                <td>{{ a.where}}</td>
                                                                <td>{{ a.date_of_baptism}}</td>
                                                                <td>
                                                                    <a class="btn btn-sm btn-outline-primary"
                                                                    href="{% url 'church:update_baptism' a.id %}">Update</a>
                                                                    <a class="btn btn-sm btn-outline-danger"
                                                                        href="{% url 'church:delete_baptism' a.id %}">Delete</a>
                                                                </td>
                                                                

                                                            </tr>

                                                            {% endfor %}

                                                        </tbody>

                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="m-4">
                                        <div class="jumbotron">
                                            <div class="col-md-10 mx-auto">
                                              <p class="d-flex justify-content-center"><b>No Baptism Information</b></p>
                                            </div>
                                        </div>
                                    </div>


                                    {% endif %}



                                    </div>


                                </div>
                </div>

            </div>

        </div>

    </div>
</div>





{% endblock %}